body {
    margin: 6rem;
    color: #3a4374;
}

.div {
    display:flex; 
    justify-content: center;
    flex-flow: column;
    /* margin: 5rem auto; */
}
.form {
    border-radius: 1pc;
    display:flex; 
    background-color: white;
    max-width: 30rem;
    padding:2rem;
    justify-content: center;
    align-items: center;
}

.backArrow {
    margin-right: .5rem;
}

.feedbackIcon{
 position: relative;
  top: 30px;
  left: 40px;
}

span {
    color: #647196;
}

input, textarea, select{
    display: block;
    background-color:#f7f8fd;
    border: solid, .1rem,#f7f8fd;
}

select {
    width: 29.4pc;
}
input, textarea {
    width: 29pc;
}

input[type=text], select {
    height: 3pc;
}

textarea {
    height: 1px;
}

button {
    display: flex;
    flex-flow: row;
    background-color: #3a4374;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: solid .1rem transparent;
    margin: 1rem 1rem 0rem 0rem;
    text-align: right;
}

a {
    text-decoration: none;
    color: white;
}

input:hover {
    border: solid, .1rem,#4661e6;
}
